.teacherShell .exactGrader .gradeForm .marks {
  display: grid !important;
  grid-template-columns: 1fr auto !important;
  align-items: start !important;
}
.teacherShell .exactGrader .gradeForm .marks > span {
  align-self: start !important;
  padding: 0 !important;
}
.teacherShell .exactGrader .gradeForm .marks > span strong {
  display: block;
  line-height: 30px !important;
}
.teacherShell .exactGrader .gradeForm .marks label input {
  display: block;
  margin: 0 !important;
}
.teacherShell .exactGrader .gradeForm .marks label b {
  line-height: 1 !important;
}
